!!! 5
%html{lang: 'en'}
	%link{href: "css/home.css", rel: "stylesheet", type: "text/css"}
	%head
		%title Egypt
	%body
		%script{src: "d3/d3.v3.min.js", type: "text/javascript"}
		%h2
			Egypt: 
			%font{style: "color:#FECC5C"}			
				GDELT
			and
			%font{style: "color:#41B6C4"}
				ICEWS

		%p
			Use this page to take a closer look at GDELT and Egypt data for 2011-present. You can zoom in to get a better look at the timeline. Important events are labelled, and clicking them will take you to a news story describing the event in greater detail (these are not stories included in either dataset). Highlighting events on a certain date in the timeline shows the corresponding locations of those events (if available) in the map.

		%script{src: "js/egyptcircle.js", type: "text/javascript"}
