!!! 5
%html{lang: 'en'}
	%link{href: "css/home.css", rel: "stylesheet", type: "text/css"}
	%head
		%title Egypt
	%body
		%script{src: "d3/d3.v3.min.js", type: "text/javascript"}
		%script{src: "d3/d3.hexbin.v0.min.js", type: "text/javascript"}
		%h2
			Egypt: 
			%font{style: "color:#FECC5C"}			
				GDELT
			and
			%font{style: "color:#41B6C4"}
				ICEWS

		%script{src: "js/egypthex.js", type: "text/javascript"}
