!!! 5
%html{lang: 'en'}
	:css
		body{
			font: 12px Arial;
		}
	%head
		%title Imagister
	%body
		%h1 Hello world!
		%script{src: "d3/d3.v3.min.js", type: "text/javascript"}
		:javascript 
			d3.select("body").append("svg").attr("width", 50).attr("height", 50).append("circle").attr("cx", 25).attr("cy", 25).attr("r", 25).style("fill", "blue");
