!!! 5
%html{lang: 'en'}
	%link{href: "css/home.css", rel: "stylesheet", type: "text/css"}
	%head
		%title Imagister
	%body
		%h1 Hello world!
		%script{src: "d3/d3.v3.min.js", type: "text/javascript"}
		%a{href: "egyptcircle.html"}
			Egypt (circles)
